# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# Flask & Environment
.env
instance/
.flaskenv

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
data/sqlite.db
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
model_training/model.pkl
hms.ai.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Deployment
testing.py
frontend/indexa.html